/** General */
html {
  min-height: 100%;
  display: flex;
}
body {
  min-width:100%;
  display:flex;
  margin:0;
  justify-content: center;
  text-align: center;
  font-family: ubuntu,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
h4 {
  margin-bottom: 5px;
}
h6 {
  margin-top: 5px;
}
h4, h6 {
  font-weight: 300;
}
a {
  color: #337ab7;
}
input[type="text"], input[type="number"], select, [type="submit"], pre, info, .button {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: inherit;
  font-family: inherit;
  padding: 5px;
  box-shadow: 0 1px 2px #ccc;
  background: #fff;
  color: inherit;
}
input[type="text"], [type="submit"], pre, info, .button {
  -webkit-appearance: none;
  width: calc(62vw + 64px);
  max-width: calc(210px + 64px);
}
#authorize-div {
  display: none;
  margin-top: 30px;
}
#extra-div {
  display: none;
}
.grid-3 {
  display: grid;
  grid-template-areas: ". . .";
  grid-gap: 10px;
  grid-template-columns: 20% 40% 33%;
}
.grid-3 > * {
  display: flex;
  align-items: center;
}

/** Input information boxes */
info {
  position: absolute;
  margin: 22px 0 0 -142.5px;
  font-weight: 100;
  font-style: oblique;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.15s;
  background: aliceblue;
}
info:before {
  content: " ";
  background: #ccc;
  height: 24px;
  width: 2px;
  top: -24px;
  position: absolute;
}
@media screen and (min-width: 930px) {
  info {
    margin: -32px 0 0 160px;
  }
  info:before {
    width: 16px;
    height: 2px;
    left: -17px;
    top: initial;
  }
}
@media screen and (max-width: 929px) {
  info + *, info + * + *, info + * + * + *, info + * + * + * + * {
    transition: opacity 0.15s;
  }
  input:focus + info + *, input:focus + info + * + *, input:focus + info + * + * + *, input:focus + info + * + * + * + * {
    opacity: 0;
  }
}

/** Form */
input:focus + info {
  z-index: 1000;
  opacity: 1;
}
form:valid>input[type="submit"], .button {
  cursor: pointer;
}
form:valid>input[type="submit"]:active, .button:active {
  background: #ccc;
}
form:invalid>input[type="submit"], input:invalid {
  color: #a94442;
  background: #f2dede;
  border-color: #a94442;
}
form#update, form#losetimer {
  max-width: calc(210px + 74px);
  width: calc(62vw + 74px);
  display: none;
  margin: auto;
}
form#losetimer [key] {
  font-weight: 100;
}

/** Menu */
menu {
  display: flex;
  padding: 0;
  margin-top: 20px;
}
menu > * {
  margin-right: 5px;
}
menu > *:last-child {
  margin-right: 0;
}
menu > *:active {
  background: #ddd;
}
menu > *:focus {
  outline: 0;
}

/** Result display */
#result-view {
  display: none;
}
#result-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
#result-wrapper > div {
  width: 62vw;
  max-width: 210px;
  margin: 5px;
}
#result {
  height: 65vw;
  max-height: 180px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2em;
  box-shadow: 0 2px 14px #aaa;
}
.number {
  font-size: 130px;
}
.description {
  font-size: 1.75em;
}
.caption-s {
  display: block;
  width: 62vw;
  max-width: 100%;
  min-height: 11px;
  font-size: 11px;
}
.caption-b {
  max-width: 270px;
  padding: 5px;
  font-size: 12px;
}

/** Loading animation */
@keyframes spin {0% {transform: rotate(45deg)}17% {transform: rotate(300deg)}34% {transform: rotate(90deg)}51% {transform: rotate(450deg)}66% {transform: rotate(135deg)}83% {transform: rotate(495deg)}100% {transform: rotate(405deg)}}
#loading {
  animation: spin 5s infinite;
}

/** Output view */
pre {
  white-space: pre-line;
  padding: 20px;
  margin: auto;
}
pre:empty {
  display: none;
}
pre h4:last-child {
  margin-bottom: 25px;
}
pre h4:last-child::after {
  animation: spin 5s infinite;
  background-image: url(/img/loading.svg);
  background-size: contain;
  content: " ";
  display: inline-block;
  height: 1em;
  margin-left: 1em;
  width: 1em;
}
pre h4.error::after {
  content: none;
}
