html {
  min-height: 100%;
  display: flex;
}
body {
  min-width:100%;
  display:flex;
  margin:0;
  justify-content: center;
  text-align: center;
  font-family: ubuntu,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
h4 {
  margin-bottom: 5px;
}
h6 {
  margin-top: 5px;
}
h4, h6 {
  font-weight: 300;
}
a {
  color: #337ab7;
  font-size: small;
}
input, pre, info, .button {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: inherit;
  font-family: inherit;
  padding: 5px;
  box-shadow: 0 1px 2px #ccc;
  max-width: calc(210px + 64px);
  width: calc(62vw + 64px);
  background: #fff;
  color: inherit;
  -webkit-appearance: none;
}
info {
  position: absolute;
  margin: 22px 0 0 -142.5px;
  font-weight: 100;
  font-style: oblique;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.15s;
  background: aliceblue;
}
info:before {
  content: " ";
  background: #ccc;
  height: 24px;
  width: 2px;
  top: -24px;
  position: absolute;
}
@media screen and (min-width: 930px) {
  info {
    margin: -32px 0 0 160px;
  }
  info:before {
    width: 16px;
    height: 2px;
    left: -17px;
    top: initial;
  }
}
@media screen and (max-width: 929px) {
  info + * {
    opacity: 1;
    transition: opacity 0.15s;
  }
  input:focus + info + * {
    opacity: 0;
  }
}
input:focus + info {
  z-index: 1000;
  opacity: 1;
}
input[type="submit"] {
  max-width: calc(210px + 76px);
  width: calc(62vw + 76px);
}
form:valid>input[type="submit"], .button {
  cursor: pointer;
}
form:valid>input[type="submit"]:active, .button:active {
  background: #ccc;
}
form:invalid>input[type="submit"], input:invalid {
  color: #a94442;
  background: #f2dede;
  border-color: #a94442;
}
pre {
  line-height: 1.5;
  font-size: 1em !important;
  white-space: pre-line;
  word-wrap: break-word;
  padding-top: 0;
  padding-bottom: 35px;
  margin: auto;
}
menu {
  display: flex;
  padding: 0;
}
menu > * {
  margin-right: 5px;
}
menu > *:last-child {
  margin-right: 0;
}

#result-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
#caption {
  color: #aaa;
  width: 62vw;
  max-width:210px;
}
#result {
  width: 62vw;
  height: 65vw;
  max-width: 210px;
  max-height: 180px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2em;
}
form#update {
  max-width: calc(210px + 74px);
  width: calc(62vw + 74px);
  display: none;
  margin: auto;
}
#authorize-div {
  display: none;
  margin-top: 30px;
}

.number {
  font-size: 130px;
  width: 100%;
  letter-spacing: 10px;
}

description {
  font-size: 1.75em;
}