pre {
  line-height: 1.5;
  font-size: 1em !important;
  white-space: pre-line;
  word-wrap: break-word;
  padding-top: 0;
  padding-bottom: 20px;
}
html {
  min-height: 100%;
  display: flex;
}
body {
  min-width:100%;
  display:flex;
  margin:0;
  justify-content: center;
}
#result-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
#caption {
  color: #aaa;
  width: 62vw;
  max-width:210px;
}
#result {
  width: 62vw;
  height: 65vw;
  max-width: 210px;
  max-height: 180px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2em;
}

a {
  color: #337ab7;
  font-size: small;
}

.number {
  font-size: 130px;
  width: 100%;
  letter-spacing: 10px;
}

description {
  font-size: 1.75em;
}

@media screen and (min-width:270px) {
  number {
    font-size:8em!important;
  }
}